.payment-top{
    background: #fafafa;
    border-bottom: 1px solid #bebebe;
    padding: 20px 0;
}

.payment-line{
    border-top: 1px solid #bebebe;
}

.coupon-line{
    border-top: 1px dashed #bebebe;
}

.payment-coupon-category{
    text-align: right;
}

.payment-coupon-price{
    text-align: right;
    font-weight: bold;
    width: 15%;
    line-height: 25px;
    white-space: nowrap;
    padding-left: 10px;
}

.content p{
font-size:12px;
line-height:21px;
display: inline-block;
margin: 0;
}

.content p a{
color:black;
}

.payment-coupon{
    float: left;
    width: 100%;
}

.payment-coupon input[type="text"]{
    width: 210px;
    border: 1px solid #bebebe;
}

.payment-coupon input{
    height: 30px;
    margin: 8px 0;
    float: left;
}

#coupon_code_err{
    color: red;
    margin: 14px 0 0 14px;
    display: inline-block;
}

.remove-coupon{
    cursor: pointer;
    color: red;
    text-decoration: underline;
}

.applying {
    display: none;
    background: url('/assets/app/images/cb-loading.gif') no-repeat;
    padding-left: 23px;
}

#cb-copy-billing-address{
    background: url('/assets/app/images/cb-subscription-arrows.png') no-repeat -9px -519px;
    font-size: 13px;
    padding: 0 0 0 18px;
    margin: 0 0 0 10px;
    cursor: pointer;
}

#cb-copy-billing-address:hover{
    color: #004C99;
}
