body{
    margin:0;
    font-family: arial;
    color: black;
    font-size: 13px;
}

.content-body{
    min-height: 450px;
    width: 510px;
}

.content {
    width: 90%;
    margin: 0 auto 20px auto;
}

.content hr{
    margin: 0;
    border-bottom: 1px solid #939598;
    border-top: none;
    width: 100%;
    display: inline-block;
}

.content .h1{
    margin-top: 20px;
}

.button > .secure{
    background: url('/assets/hosted_pages/images/lock-icon.gif') no-repeat 0 8px;
    float: right;
    display: inline-block;
    font-size: 12px;
    color: #8f8f8f;
    padding: 11px 0 1px 17px;
    text-decoration: none;
}

.button > .secure:hover{
    text-decoration: underline;
}

.h1{
    font-size: 21px;
    border-bottom: 1px solid #939598;
    line-height: 30px;
    width: 100%;
    display: inline-block;
}

.form{
    line-height: 20px;
}

.label{
    margin: 15px 0 0 0;
    font-weight: bold;
    width: 100%;
}

.field{
    display: inline-block;
    width: 100%;
    float: left;
}

.field > textarea{
    width: 96%;
    padding: 2%;
    min-height: 80px;
    border: 1px solid #BEBEBE;
    font-family: sans-serif;
}

.button{
    margin:5px 0 0 0;
    display: inline-block;
    width: 100%;
}

.button input{
    padding: 7px;
    display: inline-block;
    cursor: pointer;
    color: white;
    border: 1px solid #707070;
    margin: 0;
    
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    background: #8fc4f0; /* Old browsers */
    border: solid 1px #5299e3;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #8fc4f0), color-stop(100%, #5299e3));
    background-image: -webkit-linear-gradient(#8fc4f0, #5299e3);
    background-image: -moz-linear-gradient(#8fc4f0, #5299e3);
    background-image: -o-linear-gradient(#8fc4f0, #5299e3);
    background-image: -ms-linear-gradient(#8fc4f0, #5299e3);
    background-image: linear-gradient(#8fc4f0, #5299e3);
}
.button input:hover{
    background: #5299e3;
}

.button a{
    color: black;
    font-size: 12px;
    padding-left: 10px;
}

.button a:hover{
    text-decoration: none;
}

input[type="text"]{
    border: 1px solid #bebebe;
    text-indent: 5px;
    padding: 6px 0 6px 5px;
    margin: 2px 0;
    width: 100%;
    margin: 2px 0;
box-sizing:border-box;
-moz-box-sizing:border-box; /* Firefox */
-webkit-box-sizing:border-box; /* Safari */
}

select{
    width: 100%;
    padding: 5px;
    float:left;
    margin:2px 0px;
    border: 1px solid #BEBEBE;
    background: white;
}

.error-message {
    float: right;
    color: red;
    font-weight: normal;
    max-width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
    text-align: right;
}


.field-wrap .cb-inline{
    display: inline-block;
    float: left;
    width: 103px;
}

.error-holder{
    min-height: 21px;
}

.cb-main-status{
    width: 100%;
    font-family: arial;
    font-size: 12px;
    display: none;
}

.cb-main-status > p.error{
    color: red;
    margin: 0;
}

.processing, #vat_number_field .label .vatProcessing{
    display: none;
    background: url('/assets/app/images/cb-loading.gif') no-repeat;
    margin-left: 15px;
    padding: 0px 0 2px 23px;
}

.cvv{
    display: inline-block;
    width: 30%;
    position: relative;
    float: left;
    margin-left: 1%;
    min-height:63px;
}

.cvv > .field{
    width: 70%;
}

.cvv-image{
    background: url('/assets/hosted_pages/images/cvv.gif') no-repeat;
    min-width: 80px;
    height: 21px;
    display: inline-block;
    position: absolute;
    left: 105px;
    top: 43px;
    padding-left: 38px;
    font-size: 11px;
    color: grey;
    line-height: 30px;
}

.no-border{
    border: none;
}

.field-wrap{
    float: left;
    width: 48%;
    margin: 0 1%;
}

.large-field{
    width: 98%;
}

.partial{
    width: 98%;
    margin: 10px auto 0 auto;
    background-color: #fafafa;
    border: 1px solid #dcdcdc;
    padding: 0 3px 7px 3px;
    display: inline-block;
}

.partial .h1{
    width: 98%;
    margin: 0 1%;
}

.h1 .cb-inline{
    display: inline-block;
}

.h1 .cb-inline .cb-label{
    font-size: 13px;
    vertical-align: top;
    padding-left: 5px;
}

.cards{
    float: left;
    margin: 42px 0 0 4px;
    display:inline-block;
}
.cards > span{
    background: url('/assets/hosted_pages/images/cards.gif') no-repeat;
    width: 30px;
    height: 20px;
    float: left;
    margin: 0 7px 0 0;
}

.cards > span.american_express{background-position: 0px 0px;}
.cards > span.discover{background-position: -36px 0px;}
.cards > span.mastercard{background-position: -72px 0px;}
.cards > span.visa{background-position: -108px 0px;}
.cards > span.jcb{background-position: -145px 0px;}
.cards > span.diners_club{background-position: -180px 0px;}

#vat_number_field input[type="text"]{
    padding-left: 33px;
    width: 70%;
}
#vat_number_field .field{
    position: relative;
}
#vat_number_field .cb-countryValue{
    position: absolute;
    height: 28px;
    width: 31px;
    top: 3px;
    left: 1px;
    border-right: 1px solid #bebebe;
    text-align: center;
    line-height: 28px;
}
#vat_number_field input[type="button"]{
    padding: 6px 0;
    border: 1px solid #bebebe;
    cursor: pointer;
    color: #000000;
    width: 28%;
    background-color: #f4f4f4;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f7f8fa), color-stop(100%, #eff1f4));
    background-image: -webkit-linear-gradient(#f7f8fa, #eff1f4);
    background-image: -moz-linear-gradient(#f7f8fa, #eff1f4);
    background-image: -o-linear-gradient(#f7f8fa, #eff1f4);
    background-image: linear-gradient(#f7f8fa, #eff1f4);
}
#vat_number_field input[type="button"]:hover{
    border: solid 1px #5299E3;
    color: #ffffff;
    background: #5299E3;
}
#vat_number_field input[type="button"]:disabled, 
#vat_number_field input[type="button"]:disabled:hover{
    background: #bebebe;
    border: 1px solid #bebebe;
    color: #ffffff;
}
#vat_number_field label.success{
    background: url('/assets/hosted_pages/images/cb-success.gif') no-repeat right center;
    padding: 0 22px 0 0;
}

#vat_number_field .label .vatProcessing{
    margin: 0 0 0 10px; 
    width: 17px; 
    height: 17px;
    position: absolute;
    padding: 0;

}

.cb-postal-code {
    text-transform:uppercase;
}

.content-body .cb-field-help{
    padding: 0 5px;
}

.footer_checkbox{
    display: inline-block;
    width: 100%;
}
.footer_checkbox .checkbox{
    margin: 10px 0;
    display: inline-block;
    width: 100%;
}
.footer_checkbox .checkbox span{
    display: inline-block;
    width: 90%;
}
.footer_checkbox .checkbox input[type="checkbox"]{
    display: inline-block;
    float: left;
    margin: 5px 10px 0 0;
}